aws_region  = "eu-west-1"
project_name = "lusmaker"
environment = "prod"
region_slug = "vlaanderen"

oauth_callback_urls = [
  "https://claude.ai/api/mcp/auth_callback"
]

web_callback_urls = [
  "https://ommeke.vercel.app/",
  "http://localhost:3000/"
]

# billing_email       = "aws-kosten@example.com"
# monthly_budget_usd  = 10
# force_destroy_data  = false
# force_destroy_ecr   = false
# protect_user_data   = true
