aws_region       = "eu-west-1"
project_name     = "lusmaker"
github_repository = "jouw-organisatie/lusmaker"

# Voor repositories gemaakt na 15 juli 2026 is de immutable sub-vorm vereist.
# github_oidc_subjects = [
#   "repo:jouw-organisatie@123456/lusmaker@789012:ref:refs/heads/main"
# ]

# Hergebruik wanneer GitHub OIDC al in deze AWS-account bestaat.
# github_oidc_provider_arn = "arn:aws:iam::123456789012:oidc-provider/token.actions.githubusercontent.com"
