aws_region       = "eu-west-1"
project_name     = "lusmaker"
github_repository = "MathiasDierickx/ommeke"

# Immutable GitHub OIDC subject voor deze repository en main.
github_oidc_subjects = [
  "repo:MathiasDierickx@5112406/ommeke@1327666928:ref:refs/heads/main"
]
