NEXT_PUBLIC_API_URL=https://your-function-id.lambda-url.eu-west-1.on.aws
NEXT_PUBLIC_COGNITO_DOMAIN=https://your-domain.auth.eu-west-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=your-public-cognito-client-id
